/bindery-compositor-engine/node_modules
/bindery-compositor-engine/service-account.json

/bindery-compositor-template/node_modules
/bindery-compositor-template/.cache
/bindery-compositor-template/public
/bindery-compositor-template/gatsby-config.js

/node_modules
/tmp/*
!/tmp/.keep
