/compositor-engine/node_modules
/compositor-engine/service-account.json

/compositor-template/node_modules
/compositor-template/.cache
/compositor-template/public
/compositor-template/gatsby-config.js

/node_modules
/tmp/*
!/tmp/.keep
